body{
    background-image: url('../assets/imgs/ravenna.png');
    
}

#animal-form {
    background: #c5c5c5;
    border-radius:5px; 
    margin-top: 25px;
    padding: 20px;
    margin-right: 2%;
    box-shadow:         5px 4px 5px 0px rgba(50, 50, 50, 0.63);
}

#animal-form label{
    color:rgb(20, 20, 20);
    font-weight: bold;
    font-size: 2em;
}

#animalButtons{
    margin-top: 15px;
    width: 45%;
    margin-left: 2%;
    
}

.animalButton{
    margin-left:5px; 
    margin-top: 10px;
    background:rgb(20, 20, 20) ;
    color: azure;
    font-size: .9em;
    padding: 10px;
    border-radius:5px; 
    box-shadow:         5px 4px 5px 0px rgba(50, 50, 50, 0.63);

}

#animals{
    margin-left: 2%;
}

#animals img{
    border-radius: 5px; 
     

}

p{
    color:rgb(20, 20, 20);
    font-weight: bold;
    font-size: 1.5em;  
}

